/* =========================
   Skills Section
   ========================= */

.skills {
    padding: 110px 4.8%;

    background:
        radial-gradient(
            circle at 0% 10%,
            rgba(0, 217, 163, 0.08),
            transparent 50%
        );
}

.skills h2 {
    color: #E6EDF3;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}
.skills-description {
 max-width: 100%;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #8B949E;
    font-weight: 400;
}

/* =========================
   Skills Layout
   ========================= */
.skills-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 20px;
}

/* =========================
   Skill Cards
   ========================= */

.skill-group {
    border: 1px solid #30363D;
    border-radius: 10px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}

.skill-group:hover {
    border-color: #6EE7B7;
    box-shadow: 0 8px 20px rgba(0, 217, 163, 0.08);
}


/* =========================
   Frontend
   ========================= */

.skill-group.frontend {
    grid-column: 1 / -1;
    width: 100%;
}


/* =========================
   Programming & Database
   ========================= */

.skill-group.programming {
    width: 540px;
    justify-self: end;
}

.skill-group.tools {
    width: 540px;
    justify-self: start;
}

/* =========================
   Currently Learning
   ========================= */

.skill-group.learning {
    grid-column: 1 / -1;

    width: 780px;
    justify-self: center;
}


/* =========================
   Skill Headings
   ========================= */

.skill-group h3 {
    color: #E6EDF3;
    font-size: 1.8rem;
    font-weight: 600;

    margin-bottom: 20px;
    margin-top: -10px;

    text-align: center;
}

/* =========================
   Skill List
   ========================= */

.skill-list {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    gap: 30px 80px;
}

.skill-list.horizontal {
    flex-wrap: nowrap;
    gap: 40px;
}


/* =========================
   Individual Skill
   ========================= */

.skill-item {
    display: flex;
    align-items: center;

    gap: 20px;

    color: #E6EDF3;
    font-size: 1.15rem;
    font-weight: 600;
}


/* =========================
   Skill Logos
   ========================= */

.skill-item img {
    width: 63px;
    height: 63px;

    object-fit: contain;
}
.skill-group.learning .skill-item:last-child {
    gap: 5px;
}
.skill-group.frontend .skill-item:nth-child(4) {
    gap: 25px;
}
.skill-group.programming .skill-item:nth-child(2) {
    gap: 25px;
}
.skill-group.learning .skill-list.horizontal {
    gap: 50px;
}
.skill-group.programming .skill-item:nth-child(2) img {
    width: 70px;
    height: 70px;
}
.skill-group.learning .skill-item:nth-child(2) {
    transform: translateX(13px);
}