@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D1117;
    color: #E6EDF3;
    font-family: 'Space Grotesk', sans-serif;
}
#about {
    scroll-margin-top: 55px;
}
#skills{
    scroll-margin-top: -12px;
}
